{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🏓 에탁소 🏓</title>
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}" />
  </head>
  <body>
    <header>
      <h1>🏓 에탁소 🏓</h1>
    </header>
    <main>
      <table class="user-list">
        <thead>
          <tr>
            <th>순위</th>
            <th>이름</th>
            <th>승</th>
            <th>무</th>
            <th>패</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr class="user-entry">
            <td class="rank">
              {% if forloop.last %}💩쫄{% elif forloop.first %}👑1등{% else %}{{ forloop.counter }}등{% endif %}
            </td>
            <td class="user-name"><a href="{% url 'personal' user.id %}">{{ user.name }}</a></td>
            <td class="stats">{{ user.wins }}</td>
            <td class="stats">{{ user.draws }}</td>
            <td class="stats">{{ user.losses }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="links">
        <a class="button" href="{% url 'add' %}">경기 추가</a>
        <a class="button" href="{% url 'addplayer' %}">선수 추가</a>
        <a class="button" href="{% url 'resultlist' %}">결과 보기</a>
      </div>
    </main>
    <section>
      <header>
        <h1>🏓 에탁소 이야기 🏓</h1>
      </header>
      <div>
        <div class="photos">
          {% for photo in photos %}
          <div class="photo">
            <img class="imgtag" src="{{ photo.image.url }}" alt="{{ photo.title }}" />
            <div class="imgtext">{{ photo.title }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="links">
        <a class="button" href="{% url 'photo_gallery' %}">갤러리로</a>
        <a class="button" href="{% url 'upload_photo' %}">사진 추가</a>
      </div>
    </section>
  </body>
</html>
