{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🏓 에탁소 🏓</title>
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}" />
    <script>
      function fetchRanking() {
        const season = document.getElementById("season-select").value;
        fetch(`/rankings/${season}`) // 비동기 요청을 보낼 URL
          .then((response) => response.json())
          .then((data) => {
            const tableBody = document.querySelector(".user-list tbody");
            tableBody.innerHTML = ""; // 기존 테이블 내용을 지움
            data.users.forEach((user, index) => {
              const row = `<tr class="user-entry">
                                      <td class="rank">${index + 1}등</td>
                                      <td class="user-name"><a href="/personal/${user.id}">${user.name}</a></td>
                                      <td class="stats">${user.wins}</td>
                                      <td class="stats">${user.draws}</td>
                                      <td class="stats">${user.losses}</td>
                                   </tr>`;
              tableBody.innerHTML += row; // 새로운 랭킹 행을 추가
            });
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <header>
      <h1>🌞 에탁소 ⛱️</h1>
    </header>
    <main>
      <select id="season-select" onchange="fetchRanking()">
        <option value="all" {% if selected_season == 'all' %}selected{% endif %}>전체 시즌</option>
        <option value="1" {% if selected_season == '1' %}selected{% endif %}>시즌 1</option>
        <option value="2" {% if selected_season == '2' %}selected{% endif %}>시즌 2</option>
        <option value="3" {% if selected_season == '3' %}selected{% endif %}>시즌 3</option>
    </select>
    
      <table class="user-list">
        <thead>
          <tr>
            <th>순위</th>
            <th>이름</th>
            <th>승</th>
            <th>무</th>
            <th>패</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr class="user-entry">
            <td class="rank">
              {% if forloop.last %}💩쫄{% elif forloop.first %}👑1등{% else %}{{ forloop.counter }}등{% endif %}
            </td>
            <td class="user-name"><a href="{% url 'personal' user.id %}">{{ user.name }}</a></td>
            <td class="stats">{{ user.wins }}</td>
            <td class="stats">{{ user.draws }}</td>
            <td class="stats">{{ user.losses }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="links">
        <a class="button" href="{% url 'add' %}">경기 추가</a>
        <a class="button" href="{% url 'addplayer' %}">선수 추가</a>
        <a class="button" href="{% url 'resultlist' %}">결과 보기</a>
      </div>
    </main>
    <section>
      <header>
        <h1>🏓 에탁소 이야기 🏓</h1>
      </header>
      <div>
        <div class="photos">
          {% for photo in photos %}
          <div class="photo">
            <img class="imgtag" src="{{ photo.image.url }}" alt="{{ photo.title }}" />
            <div class="imgtext">{{ photo.title }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="links">
        <a class="button" href="{% url 'photo_gallery' %}">갤러리로</a>
        <a class="button" href="{% url 'upload_photo' %}">사진 추가</a>
      </div>
    </section>
  </body>
</html>
