{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ATS : 갤러리</title>
    <link rel="stylesheet" href="{% static 'myapp/css/photo_gallery.css' %}" />
  </head>
  <body>
    <h1>갤러리</h1>
    {% for photo in photos %}
    <div>
      <img src="{{ photo.image.url }}" alt="{{ photo.title }}" />
      <p>{{ photo.title }}</p>
    </div>
    {% endfor %}
    <div class="links">
      <a class="button" href="{% url 'home' %}">홈으로</a>
      <a class="button" href="{% url 'upload_photo' %}">사진추가</a>
    </div>
  </body>
</html>
