{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>🏓에탁소:사진 추가</title>
  <link rel="stylesheet" href="{% static 'myapp/css/upload_photo.css' %}" />

  </head>
  <body>
    <h1>활동사진을 추가하시오</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="title">사진 제목:</label>
      <input type="text" name="title" id="title" required /></br>
      <label for="image">이미지:</label>
      <input type="file" name="image" id="image" required /></br>
      <button type="submit">업로드하기</button>
    </form>
    <div class="links">
        <a class="button" href="{% url 'home' %}">홈으로</a>
        <a class="button" href="{% url 'photo_gallery' %}">갤러리로</a>
      </div>
  </body>
</html>
