/* 메인.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

header h1 {
  text-align: center;
  color: #4caf50;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

main {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 0.9rem;
}

th {
  background-color: #f0f0f0;
}

a.button {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0.25rem;

  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

a.button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: gray;
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 50vw;
}

.imgtag {
  width: 100%;
}
