/* 메인.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

header h1 {
  text-align: center;
  color: #4caf50;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

main {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 0.9rem;
}

th {
  background-color: #f0f0f0;
}

a.button {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0.25rem;

  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

a.button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: gray;
}

.photo {
  object-fit: contain; /* 이미지 비율 유지 */
  height: auto;
}
img {
  height: auto;
  max-height: 400px; /* 이미지의 최대 높이 설정 */
  object-fit: contain; /* 이미지 비율 유지 */
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin: 0px 10px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  height: 230px;
  width: 350px;
  object-fit: contain; /* 이미지 비율 유지 */
}
